body{
    background: gray;
}

.presentacion{
    height: 420px;
    width: 65%; /*ERROR DEL BOTON QUE NO SE*/
    display: flex;
    margin: auto;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgba(0,0,0, 0.5);
    overflow: hidden; /* permite determinar lo que sucede con un elemento cuando alcanza los limites del contenedor hidden=esconder */
    box-sizing: border-box;
}

.presentacion .img{
    width: 50%;
}

.contenedor .img img{
    width: 100%;
    vertical-align: auto;
}

.producto-info{
    width: 50%;
    border-radius: 0 7px 10px 7px;
    -webkit-border-radius: 0 7px 10px 7px;
    -moz-border-radius: 0 7px 10px 7px;
    -ms-border-radius: 0 7px 10px 7px;
    -o-border-radius: 0 7px 10px 7px;
    background: #fff;
}

.producto-texto{
    width: 100%;
}

.producto-texto h1{
    margin-left: 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.producto-texto h1, .precio-btn{
    font-family: serif;
}

.producto-texto h2{
    margin: 0 0 47px 38px;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: blue;
    letter-spacing: .2em;
}

.producto-texto p{
    height: 125px;
    margin-left: 38px;
    font-family: serif;
    font-size: 22px;
    color: black;
    line-height: 1.7em;
}


.precio-btn{
    max-height: 103px;
    width: auto;
    margin-top: 17px;
    display: flex;
    justify-content:center;
}

.precio-btn a{
    height: 50px;
    width: 176px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    text-align: center;
    line-height: 25px;
    background:chocolate;
    cursor: pointer;
    text-decoration: none;

}

.precio-btn a:hover{
    background: #34495e;
}
